* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;

}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 50px;
  background: #212121;
}

.menu {
  padding: 13px 70px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.menu .menu_item {
  border-right: 2px #000000 dotted;
  padding-right: 28px;
}

.menu .menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  /* Спробувати змінити прозорість на 0.3 */
  position: absolute;
  width: 100%;
  top: 50px;
}

.subheader .subheader_logo {
  max-width: 100%;
  display: block;
  margin-top: 16px;
}

.subheader .subheader_official {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.7;
}

.subheader .subheader_call {
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
  margin-top: 19px;
}

.subheader .subheader_phone {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  text-align: right;
  text-decoration: none;
}


/* Стилізація кнопки */
.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  /* текст всередині кнопки */
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.promo {
  height: 800px;
  background: url(../img/main_bg.jpg) center center/cover no-repeat;
  padding: 180px 0 185px 0;
}

.promo .promo_header {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px;
}

.promo .promo_subheader {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
}

.promo .promo_descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}

/* Стилізація кнопки */
.promo .promo_btn {
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  /* текст всередині кнопки */
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}


.reasons {
  padding: 18px 0 65px 0;
}

.label {
  margin: auto;
  height: 24px;
  width: 112px;
  padding: 3px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.reasons .reason_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;

}

.reasons .reason_block .reason_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons .reason_block .reason_descr {
  width: 343px;
}

.reason_block .reason_descr .reason_subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #1EACC7;
}

.reason_block .reason_descr .reason_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #202020;
}